body {
  font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.h100 {
  height: 100%;
}

.mdi-youtube {
  color: #ff0000 !important;
}

.mdi-vimeo {
  color: #1ab7ea !important;
}

.theme--dark.v-application {
  background-color: #0f0816 !important;
}

.pointer {
  cursor: pointer;
}

.container {
  max-width: 700px;
}

.v-application a {
  color: #9cbaef !important;
}

.z-1 {
  z-index: 1 !important;
}
.z-2 {
  z-index: 2 !important;
}
.z-3 {
  z-index: 3 !important;
}
.z-4 {
  z-index: 4 !important;
}
.z-5 {
  z-index: 5 !important;
}
